USE [master]
GO
/****** Object:  Database [uploadingfile]    Script Date: 11/30/2023 9:01:45 PM ******/
CREATE DATABASE [uploadingfile]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'uploadingfile', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\uploadingfile.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'uploadingfile_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\uploadingfile_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [uploadingfile].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [uploadingfile]
GO
/****** Object:  Table [dbo].[NewTable]    Script Date: 11/30/2023 9:01:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewTable](
	[ID] [nvarchar](255) NULL,
	[Name] [nvarchar](255) NULL
) ON [PRIMARY]
GO
USE [master]
GO
